.title {
    text-align: center;
}

.image {
    width: 200px;
    height: auto;
}

.description {
    height: 150px;
}

.movieCard {
    border: 2px solid;
    width: 50vw;
    height: auto;
    margin: auto;
    background-color: blanchedalmond;
    padding: 0 0 10px 20px;
}